.banner {
  padding-top: 180px;
}
.banner canvas {
  z-index: -1;
}
.banner__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
.banner__description {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #242E56;
}

.shop-block__items {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.shop-block .title {
  margin-bottom: 60px;
}
.shop-block__item {
  background: #EFF0F2;
  border-radius: 30px;
  width: calc(25% - 20px);
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 30px;
}
.shop-block__title {
  font-weight: 500;
}
.shop-block__description {
  font-size: 14px;
}

.laptop {
  z-index: 3;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0 100px;
}
.laptop__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.laptop .video {
  position: relative;
  width: 980px;
  height: 620px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.laptop .video__poster {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
}
.laptop .video__overflow {
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.6;
  z-index: 1;
}
.laptop .video__play {
  z-index: 2;
}
.laptop .video__button {
  width: 135px;
  height: 135px;
  border-radius: 100%;
  background: #952228;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  cursor: pointer;
}
.laptop .video__button::before {
  content: "";
  border-radius: 100%;
  background: #952228;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-animation: play 1s infinite linear;
          animation: play 1s infinite linear;
}
.laptop .video__button span {
  z-index: 1;
  font-size: 60px;
}

@-webkit-keyframes play {
  33% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  66% {
    transform: scale(1.5);
    opacity: 0.4;
  }
  100% {
    transform: scale(1.5);
    opacity: 0.1;
  }
}

@keyframes play {
  33% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  66% {
    transform: scale(1.5);
    opacity: 0.4;
  }
  100% {
    transform: scale(1.5);
    opacity: 0.1;
  }
}
